


.herothree{
  background-image: url(../src/assets/images/appointment.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.form{
  background-image: url(../src/assets/images/appointment.png);
  background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer{
  background-image: url(../src/assets/images/footer.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}